a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";}

#headshot
    {border-radius: 50%;
    display: block;
    margin-left: auto;
     margin-right: auto;
     width: auto;}

    body {
        background-color: #0141B8;
    }

p {
    color: white;
text-align: center;
}

h1 {color: white;
   text-align: center;}

h3 {color: white;
    text-align: center;}

nav {
    Color: white;
}
ul {
    color: white;
}

address {color: white;
    text-align: center;}


header {background-color: white;}

footer {background-color: white;}

#mailtoaddress {
    color: white;
}

#contactphone {
    color: white;
}
